.container {
  display: flex;
  justify-content: center;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $form-padding-y $form-padding-x;
  margin-top: 120px;
  border: 1px solid darkgrey;
  position: absolute;
  h2 {
    color: white;
    margin-bottom: 20px;
  }

  p {
    display: flex;
    align-self: self-start;
    &:nth-of-type(3) {
      color: #00bfff;
    }
    &:nth-of-type(4) {
      margin-left: 150px;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid darkgrey;
    background: transparent;
    outline: none;
    width: 100%;
  }
}
