.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $container-padding-x $container-padding-y;
  border-bottom: 1px solid lightgrey;

  nav {
    > ul {
      display: flex;
      > li {
        margin-right: 10px;
        &:first-child {
          @include btn-variant(#00bfff, #16212b, #00bfff);
        }
        &:last-child {
          @include btn-variant(white, #00bfff, #00bfff);
          margin-right: 0;
        }
      }
    }
  }
}
