body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-base;
  background-color: $body-bg;
  line-height: $line-height-base;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

button {
  &:nth-of-type(1) {
    @include btn-variant(#00bfff, #16212b, #00bfff);
    padding: $form-btn-padding-y $form-btn-padding-x;
  }
  &:nth-of-type(2) {
    @include btn-variant(white, #00bfff, #00bfff);
    padding: $form-btn-padding-y $form-btn-padding-x;
  }
}

h1 {
  color: $heading-color;
  margin: 0;
}

$headings: 1, 2, 3, 4, 5, 6;
@each $index in $headings {
  h#{$index} {
    margin-top: 0;
    margin-bottom: 0;
  }
}
